.google-icon {
  width: 20px;
  height: 20px;
}

.triangle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%; /* Anchura del polígono */
  height: 70%; /* Altura del polígono */
  clip-path: polygon(
    0 20%,
    100% 47%,
    100% 100%,
    0% 100%
  ); /* Coordenadas de los vértices */
  background-color: #c08754; /* Color del fondo */
}
