/* Asegúrate de que el contenedor del sidebar ocupe toda la altura de la pantalla */
.h-screen {
  height: 100vh;
}

.sidebar {
  position: relative;
}

.triangle-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px; /* Ajusta la altura según necesites */
}

.triangle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 41%, 100% 59%, 100% 100%, 0% 100%);
  background-color: #c08754;
  z-index: 0; /* Asegúrate de que esté detrás de otros elementos */
}

.font-merienda {
  font-family: 'Merienda', cursive;
  font-size: 18px;
}
