@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS para ocultar el scrollbar */
.scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  